.container-fluid {
    padding: 0px;
}

header {
    box-sizing: border-box;
}

header nav div:nth-of-type(1) a h4 {
    margin-top: 5px;
    margin-bottom: 0;
}

main .wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}

main .wrapper img {
    height: 800px;
}

footer {
    margin-top: 5px;

}

footer p {
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 2px;
}

footer a {
    font-size: 8px;
}

@media screen and (max-width: 767px) {
    #mobileNav ul li {
        width: 100%;
    }
}