.container-fluid {
    padding: 0px;
}

header {
    box-sizing: border-box;
    font-size: 1.5em;
}

header nav div:nth-of-type(1) a h4 {
    margin-top: 5px;
    margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
    main {
        margin-top: 100px;
    }

    .owl-carousel .owl-stage-outer {
        height: 850px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    header nav {
        font-size: 0.5em;
    }

    main {
        margin-top: 30px;
    }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
    header nav {
        background: #343a40;
    }

    .owl-carousel .owl-stage-outer {
        margin-top: 80px;
    }

    main {
        margin-top: 30px;
    }

}

@media screen and (max-width: 576px) and (max-width: 320px) {
    header nav .navbar-brand {
        font-size: 0.8em;
    }
}



/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*index*/
main .wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}


main .wrapper .owl-theme .owl-dots .owl-dot span {
    background: #262626;
}

main .wrapper .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: gray;
}

/*index End*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*contnet*/
@media screen and (max-width: 768px) and (min-width: 320px) {
    main article {
        margin-top: 80px;
    }
}

main article div p {
    text-align: justify;
}

main article #content ul {
    margin-bottom: 15px;
}

/*contnet End*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*image*/
@media screen and (max-width: 1200px) and (min-width: 768px) {
    #cuteimg {
        margin-top: 150px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    #cuteimg {
        margin-top: 80px;
    }
}

main div div:nth-of-type(1) {
    margin-bottom: 15px;
}

main div div.card {
    width: 300px;
}

@media screen and (min-width: 576px) {
    main div div.card {
        width: 400px;
    }
}



/*image End*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*aboutme*/
@media screen and (min-width: 1200px) {
    #about_me {
        display: flex;
        justify-content: center;
        align-content: space-between;
        margin-top: 150px;
        height: 600px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    #about_me {
        margin-top: 100px;
        position: relative;
    }

    #about_card3 {
        margin-top: 50px;
    }

    #about_card2,
    #about_card4 {
        position: absolute;

    }

    #about_card2 {
        left: 50%;
        top: 0%;
    }

    #about_card3 {
        top: 55%;
    }

    #about_card4 {
        left: 50%;
        top: 52%;
    }
}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 768px) and (min-width: 320px) {
    #about_me {
        margin-top: 80px;
    }

    .about_card {
        margin-bottom: 20px;
    }
}




.about_card {
    position: relative;
    width: 300px;
    height: 500px;
    overflow: hidden;
    margin-right: 10px;
}

.about_card input,
.toggle {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 30px;
    outline: none;
    z-index: 11;
}

.about_card input {
    opacity: 0;
}

.toggle {
    pointer-events: none;
    border-radius: 50%;
    background: #fff;
    transition: 0.5s;
    text-align: center;
    line-height: 40px;
    font-size: 36px;

}

.about_card input:checked~.toggle {
    transform: rotate(225deg);
}

#about_card1 .toggle {
    box-shadow: 0 0 0 0px #9c27b0;
}

#about_card2 .toggle {
    box-shadow: 0 0 0 0px #6A5ACD;
}

#about_card3 .toggle {
    box-shadow: 0 0 0 0px #5F9EA0;
}

#about_card4 .toggle {
    box-shadow: 0 0 0 0px #006400;
}

#about_card1 input:checked~.toggle {
    box-shadow: 0 0 0 500px #9c27b0;
}

#about_card2 input:checked~.toggle {
    box-shadow: 0 0 0 500px #6A5ACD;
}

#about_card3 input:checked~.toggle {
    box-shadow: 0 0 0 500px #5F9EA0;
}

#about_card4 input:checked~.toggle {
    box-shadow: 0 0 0 500px #006400;
}

.card_img,
.card_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card_text {
    padding: 20px;
    box-sizing: border-box;
    z-index: 11;
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;
}

.about_card input:checked~.card_text {
    opacity: 1;
    transition-delay: 0.5s;
}

.card_text h3 {
    margin-bottom: 5px;
    color: #fff;
}

.card_text p {
    margin: 0;
    padding: 0;
    color: #fff;
}



/*aboutme End*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*callus*/
main div#formmsg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px
}

main div#formmsg form {
    background: gray;
    width: 30%;
    height: 100%;
    position: relative;
}


@media screen and (max-width: 768px) {
    main div#formmsg form {
        width: 100%;
        margin-top: 80px;
    }

    main div#formmsg form h3 {
        margin-bottom: 15px;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(1) {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(2) {
        position: absolute;
        top: 28%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(3) {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(4) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form div#checkbox>label {
        position: absolute;
        top: 55%;
        left: 33%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form div#checkbox p {
        width: 100%;
        height: 24px;
        position: absolute;
        top: 60%;
        left: 70%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(5) {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form>label {
        position: absolute;
        top: 80%;
        left: 32%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form select {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(6) {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
    main div#formmsg form {
        width: 100%;
        margin-top: 110px;
    }

    main div#formmsg form div#checkbox>label {
        position: absolute;
        top: 55%;
        left: 38%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form div#checkbox p {
        width: 100%;
        height: 24px;
        position: absolute;
        top: 60%;
        left: 85%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form>label {
        position: absolute;
        top: 80%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
}


@media screen and (max-width: 1200px) and (min-width: 768px) {
    main div#formmsg form {
        width: 80%;
        height: 80%;
    }

    main div#formmsg form h3 {
        margin-bottom: 15px;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(1) {
        position: absolute;
        top: 23%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(2) {
        position: absolute;
        top: 31%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(3) {
        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(4) {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form div#checkbox>label {
        position: absolute;
        top: 49%;
        left: 39%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form div#checkbox p {
        height: 24px;
        position: absolute;
        top: 53%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(5) {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form>label {
        position: absolute;
        top: 68%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form select {
        position: absolute;
        top: 68%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(6) {
        position: absolute;
        top: 76%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width: 1200px) {
    main div#formmsg form {
        width: 30%;
        height: 85%;
        margin-top: 0px;
    }

    main div#formmsg form h3 {
        margin-bottom: 15px;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(1) {
        position: absolute;
        top: 23%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(2) {
        position: absolute;
        top: 31%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(3) {
        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(4) {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form div#checkbox>label {
        position: absolute;
        top: 49%;
        left: 39%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form div#checkbox p {
        height: 24px;
        position: absolute;
        top: 53%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(5) {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form>label {
        position: absolute;
        top: 68%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form select {
        position: absolute;
        top: 68%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main div#formmsg form p:nth-of-type(6) {
        position: absolute;
        top: 76%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


/*callus End*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*lognin*/
main div.formbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

main div.formbox form {
    background: gray;
    position: relative;
}

main div.formbox form h3 {
    margin-bottom: 15px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main div.formbox form p:nth-of-type(1) {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main div.formbox form p:nth-of-type(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main div.formbox form p:nth-of-type(3) {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,
        -50%);
}

main div.formbox form p:nth-of-type(1) input,
main div.formbox form p:nth-of-type(2) input {
    border-radius: 15px;
    padding: 8px;
}


@media screen and (max-width: 768px) {
    main div.formbox {
        height: 500px;
    }

    main div.formbox form {
        width: 80%;
        height: 80%;
    }
}

@media screen and (min-width: 767px) {
    main div.formbox {
        height: 700px;
    }

    main div.formbox form {
        width: 80%;
        height: 80%;
    }


}

@media screen and (min-width: 1200px) {
    main div.formbox {
        height: 700px;
    }

    main div.formbox form {
        width: 30%;
        height: 50%;
    }
}


/*lognin End*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

footer {
    margin-top: 5px;
    color: #BBB;
}

footer p {
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 2px;
}

footer a {
    font-size: 8px;
}

@media screen and (max-width: 767px) {
    #mobileNav ul li {
        width: 100%;
    }
}